* {
  font-family: $font;
  font-display: swap;
  line-height: 160%;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $darkF;
}

body {
  overflow-x: hidden;
  background-color: $lg;
  display: grid;
  grid-template-columns: 250px 1fr;
}

#content {
  padding: 10px;
  margin-top: 2px;
  grid-column: 1 / 3;
}

@media only screen and (min-width: 1000px) {
  #content {
    grid-column: 2 / 3 !important;
    grid-row: 2 / 3;
    padding: 0;
  }
}

h1 {
  text-align: center;
  margin: 18px 0;
  font-size: 36px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

h3 {
  margin: 20px 0;
}

@namespace svgns url(http://www.w3.org/2000/svg);
svgns|a text {
  cursor: pointer;
  background-color: white;
}


/* LINKS */
a, a:visited {
  text-decoration: none;
  background-color: $mainG;
  color: $darkF;
  // border: 1px solid $darkF;
  // border-radius: 3px;
  // padding: 0 5px;
}

a.nocolor {
  background-color: transparent;
}

main a[href^="http"]:before, 
main a[href^="https"]:before {
     content: "" url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

@media only screen and (min-width: 640px) {
  article {
    padding: 20px 75px;
  }
}

@media only screen and (min-width: 800px) {
  article {
    padding: 20px 150px 100px;
  }
}

@media only screen and (min-width: 1000px) {
  article {
    padding: 20px 200px 100px;
  }
}

@media only screen and (min-width: 1500px) {
  article {
    padding: 20px 300px 100px;
  }
}

#placeholder {
  border-radius: .2em;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  display: grid;
  margin: 10px;
  text-align: justify;
  top: -40px;

  & p {
    margin: 30px 0;
  }
}

/* classes added through js */
.fixed-top { 
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
}



