#mobile-cog {
	display: none !important;
}
#side-nav[style] {
	display: inline !important;

}
#header-bottom {
	padding-left: 10px;
}
#cog {
	display: inline !important;
}

#content {
	margin: 5px;
	margin-top: 7px;
}
nav ul li {
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 2px 0 rgba(0, 0, 0, 0.3);
	padding: 5px;
	background-color: #e5e5e5;
}
nav ul li:nth-child(1) {
	border-radius: 2px 2px 0 0;
}
nav ul li:nth-last-of-type(1) {
	border-radius: 0 0 2px 2px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
#side-menu {
	list-style-type: none;
	padding: 0;
}