* {
	font-family: "Cutive Mono", monospace;
	margin: 0px;
}
div#header-top {
	padding: 0px;
	height: 70px;
}
a {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
}
#header-bottom {
	background-color: #ccff66;
	padding: 10px;
	width: 100vw;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.fixed-top {
	position: fixed;
	overflow:hidden;
	top: 0;
}

nav {
	background-color: #ccc;
}
footer {
	background-color: #ccff66;
	width: 100%;
}

nav {
	display: none;
}
#header-bottom {
	padding-left: 50px;
}
#cog {
	display: none;
}
#mobile-cog {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 9999;
	width: 20px;
	height: 20px;
}
                                                                  /*-- css for svg logo --*/
.logo-cog {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin:-10px 0 0 -10px;
	-webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

@media only screen and (min-width: 640px) {

}