* {
	font-family: "Cutive Mono", monospace;
	margin: 0px;
	box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25% !important;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75% !important;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	#mobile-cog {
		display: none;
	}
	#cog {
		display: inline;
	}
	#side-nav[style] {
		display: inline !important;
		background-color: #f5f5f5;
		margin-top: 2px;
		list-style-type: none;
		z-index: -1;
	}
	#side-menu {
		padding: 0;
	}
	nav ul li {
		box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 2px 0 rgba(0, 0, 0, 0.3);
		padding: 5px;
		background-color: #e5e5e5;
	}
	nav ul li:nth-child(1) {
		border-radius: 2px 2px 0 0;
	}
	nav ul li:nth-last-of-type(1) {
		border-radius: 0 0 2px 2px;
	}
	#header-bottom[style] {
		padding-left: 10px !important;
	}

	#content {
		margin: 5px !important;
		background-color: #ffffff !important;
		box-shadow: 0 0 0 !important;
	}
}

body {
	overflow-x: hidden;
}
div#header-top {
	padding: 0px;
	height: 70px;
	background-color: white;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
}
main {
	display: inline;
}
#side-nav {
	padding: 5px !important;
}
#header-bottom {
	background-color: #ccff66;
	padding: 10px;
	width: 100vw;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
	overflow: visible;
}
#content {
	background-color: rgba(204, 255, 102, 0.5);
	border-radius: 4px;
	font-size: 18px;
	padding: 10px;
	margin: 15px;
	margin-top: 12px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.fixed-top { /* class that is added through js */
	position: fixed;
	overflow: hidden;
	top: 0;
}
[class*="col-"] {
    float: left;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    width: 100%;
}
nav {
	display: none;
}
footer {
	background-color: #ccff66;
	width: 100%;
	padding: 5px;
	text-align: center;
}
#mobile-cog {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 9999;
	width: 20px;
	height: 20px;
	overflow: hidden;
}
                                                                  /* css for svg logo */
.logo-cog {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin:-10px 0 0 -10px;
	-webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

