/* setting up the colors that will be used troughout the site */
:root {
 --mg: #ccff66; /* main green */
 --lg: #eeffcc; /* light green for background */
 --sg: #f5f5f5; /* soft gray for side nav background */
 --menugray: #e5e5e5;
 --wr: #ff794d; /* warning red */
 --qy: #FEF59F;
 --dg: #88cc00;
}
/* general css */
* {
 font-family: "Cutive Mono", monospace;
 line-height: 110%;
 margin: 0px;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
body {
 display: grid;
 grid-template-columns: 250px 1fr;
 overflow-x: hidden;
 background-color: var(--lg);
}
a, a:visited {
 text-decoration: none;
 background-color: var(--mg);
 color: black;
}
p {
	margin: 15px 0;
}
/* logo and top nav container for mobile */
header {
 grid-column: 1 / 3;
}
img:not([alt]) {
	filter: grayscale(100%);
}
div#header-top {
 padding: 0px;
 height: 70px;
 background-color: white;
}
#logo-text {
 font-size: 48px;
}
nav#header-bottom {
 display: block;
 background-color: var(--mg);
 padding: 16px;

 width: 100vw;
 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
 overflow: visible;
}
#ransom1 {
  font-size:4em;
  line-height: normal;
  word-spacing:0.3em;
}
summary {
  outline: none;
}
.leftright {
  width: 50%;
  height: 30px;
  border: 3px solid black;
  border-radius: 15px;
  font-weight: bolder;
  background-color: var(--dg);
  margin: 30px;
  align-items: center;
  position: fixed;
  font-size: 20px;
  bottom: 50px;

}
#left {
  width: 50px;
  float: left;
  text-align: center;
}
.leftright a {
  background-color: transparent;
  color: black;
}
#right {
  width: 50px;
  right: 10px;
  position: fixed;
  bottom: 50px;
  text-align: center;

}
#ransom1 div {
  display:inline-block;
}

#ransom1 .rw {
  white-space: pre;
  display:inline;
}

#ransom1 .rr {
  -ms-transform: rotate(1.5deg);
  -webkit-transform: rotate(1.5deg);
  transform: rotate(1.5deg);
}

#ransom1 .rl {
  -ms-transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
}  
#mobile-cog {
 position: fixed;
 top: 15px;
 left: 15px;
 z-index: 9999;
 width: 20px;
 height: 20px;
 overflow: hidden;
}
.superbox {
 border: 2px solid black;
 border-radius: 4px;
 margin: 20px 0;
 padding: 10px;
}
.sol {
	background-image: url("dot.png");
}
.kviz {
 background-color: var(--qy);
}
.tip {
 background-color: var(--mg);
}
.warning {
 background-color: var(--wr);
}
.cmd {
  border-radius: 4px;
  border: 7px solid rgb(176, 209, 243);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 3px 3px 5px #888888;
}
.lilcmd {
  display: inline-block;
  height: 16px;
  width: 18px;
  background-color: black;
  margin-bottom: 2px;
  margin-right: 5px;
  color: white;
  font-size: 10px;
  border: thin solid white;
}
.cmd table {
  border-collapse: collapse;
}
.cmd table th {
  background-color: rgb(176, 209, 243);
  font-size: 3vw;
}
.cmd table td {
  color: white;
  background-color: black;
  padding: 5px;
  border: thin solid white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
.responsive {
 width: 100%;
 height: auto
 text-align: center;
}
.tri {
 max-width: 300px;
}
.pet {
 max-width: 500px;
}
.osam {
 max-width: 800px;
}
h1 {
 text-align: center;
 margin: 18px 0;
 font-size: 36px;
}
h2 {
 text-align: center;
 font-size: 30px;
 margin: 10px 0;
}
figure {
 text-align: center;
}
figcaption {
 font-size: 20px;
}
#disqus_thread {
 border: 2px solid var(--dg);
 border-radius: 4px;
 margin-top: 10px;
 padding: 20px;
 background-image: url(dot.png);
 display: none;
}
                                 /* css for svg logo */
.logo-cog {
 position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin:-10px 0 0 -10px;
 -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* class added through js */
.fixed-top { 
 position: fixed;
 overflow: hidden;
 top: 0;
 z-index: 1;
}
/* mobile menu nav - rest of the styling is within the app.js */
#side-nav {
 width: 250px;
}
#side-nav li.active {
 background-color: var(--lg);
 font-weight: bold;
 border: 2px solid #bbb;
}
span.selected {
 font-weight: bold;
}
span:hover {
 /*text-shadow: 3px -1px 2px #3d8c5d;*/
}
dfn {
	font-style: normal;
	text-decoration: underline dotted black;
}
.cent {
	text-align: center;
}
.code_snippet {
}
code {
 margin-right: 20px;
	position: relative;
 background-image: url("dot.png");
 border-radius: 4px;
 width: auto;
 margin: 20px 0;
 padding: 10px;
 padding-bottom: 0;
 border: 2px solid #bbb;
 display:block;
 word-wrap: all;
	z-index: 0;
}
textarea {
	background: transparent;
	font-size: 16px;
 width: 100%;
 height: auto;
 overflow: visible;
 resize: none;
 border: 0 none;
 outline: none;
 word-break: break-word;
 display: block;
 z-index: 0;
}
hr {
  border-style: solid;
  border-color: var(--mg);
}
main ul li {
	text-align: justify;
  padding: 5px;
}
ul.gap_li li {
  padding: 7px;
}
@namespace svgns url(http://www.w3.org/2000/svg);
svgns|a text {
 cursor: pointer;
 background-color: white;
}
a.nocolor {
  background-color: transparent;
}
/* front page main content, mobile */
#placeholder {
 border-radius: .2em;
 background-color: white;
 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
 font-size: 1em;
 display: grid;
 padding: 20px;
 text-align: justify;
}
#side-nav {
  z-index: 999;
  top: 5px;
  position: fixed;
}
#side-nav li {
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: #e5e5e5;
  list-style-type: none;
}
#side-nav:first-child {
  border-radius: 2px 2px 0 0;
}
#side-nav:last-child {
  border-radius: 0 0 2px 2px;
}
.main-page-box {
 display: grid;
 grid-template-columns: 1fr 1fr;
 padding: 10px;
 width: 100%;
}
.main-page-boxes {
 padding: 20px;
 display: grid;
 grid-auto-rows: 80vh;
 align-items: center;
 text-align: center;
 grid-column: 1/3;
}
.main-page-box:nth-child(even) {
 background-color: var(--sg);
}
.main-page-boxes:nth-child(odd) {
 grid-row: 1 / 2;
}
.main-page-boxes:nth-child(even) {
 grid-row: 2 / 3;
}
div.main-page-box:nth-child(even) > div.main-page-boxes:nth-child(odd) {
 grid-row: 2/3;
}
div.main-page-box:nth-child(even) > div.main-page-boxes:nth-child(even) {
 grid-row: 1/2;
}
#content {
 padding: 10px;
 margin-top: 2px;
 grid-column: 1 / 3;
}

@media only screen and (min-width: 640px) {
 /* header for desktop */
 #mobile-cog {
  display: none;
 }
 #cog {
  display: inline;
 }
 nav#header-bottom[style] {
  padding-left: 10px !important;
  z-index: 10 !important;
 }
 /* desktop version side navigation */
 th {
  font-size: 16px;
 }
 #disqus_thread {
  display: block;
 }
 #side-nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
 }
 #side-nav[style] {
  display: inline !important;
  position: relative !important;
  background-color: var(--sg);
  margin-top: -2px;
  list-style-type: none;
  z-index: 0;
 }
 #side-menu {
  padding: 0;
 }
 nav ul li {
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: var(--menugray);
 }
 nav ul li:nth-child(1) {
  border-radius: 2px 2px 0 0;
 }
 nav ul li:nth-last-of-type(1) {
  border-radius: 0 0 2px 2px;
 }
 /* desktop front page main content */
 #content {
  grid-column: 2 / 3 !important;
  grid-row: 2 / 3;
 }
 .main-page-boxes {
  grid-column: 2/3 !important;
  grid-row: 1/2 !important;
 }
 .main-page-boxes:nth-child(odd) {
  grid-column: 1/2 !important;
  grid-row: 1/2 !important;
 }
}
footer {
 background-color: var(--mg);
 grid-column: 1 / 3;
 padding: 5px;
 text-align: center;
}

